In [1]:
# 氨基酸作为抑制剂
import pandas as pd
from chembl_webresource_client.new_client import new_client
# 搜索
target = new_client.target
target_query = target.search('amino acids')
targets = pd.DataFrame.from_dict(target_query)
targets.head()

,cross_references,organism,pref_name,score,species_group_flag,target_chembl_id,target_components,target_type,tax_id
0,"[{'xref_id': 'Q9UHI5', 'xref_name': None, 'xre...",Homo sapiens,L-type amino acid transporter 2,22.0,False,CHEMBL4301,"[{'accession': 'Q9UHI5', 'component_descriptio...",SINGLE PROTEIN,9606.0
1,[],Mus musculus,Large neutral amino acids transporter small su...,20.0,False,CHEMBL4523516,"[{'accession': 'Q9Z127', 'component_descriptio...",SINGLE PROTEIN,10090.0
2,"[{'xref_id': 'O75387', 'xref_name': None, 'xre...",Homo sapiens,L-type amino acid transporter 3,19.0,False,CHEMBL4148,"[{'accession': 'O75387', 'component_descriptio...",SINGLE PROTEIN,9606.0
3,"[{'xref_id': 'Q63016', 'xref_name': None, 'xre...",Rattus norvegicus,L-type amino acid transporter 1,18.0,False,CHEMBL4149,"[{'accession': 'Q63016', 'component_descriptio...",SINGLE PROTEIN,10116.0
4,"[{'xref_id': 'Q01650', 'xref_name': None, 'xre...",Homo sapiens,L-type amino acid transporter 1,17.0,False,CHEMBL4459,"[{'accession': 'Q01650', 'component_descriptio...",SINGLE PROTEIN,9606.0

In [2]:
type(targets)

pandas.core.frame.DataFrame

In [3]:
df = targets[targets.score.notna()]
df

,cross_references,organism,pref_name,score,species_group_flag,target_chembl_id,target_components,target_type,tax_id
0,"[{'xref_id': 'Q9UHI5', 'xref_name': None, 'xre...",Homo sapiens,L-type amino acid transporter 2,22.0,False,CHEMBL4301,"[{'accession': 'Q9UHI5', 'component_descriptio...",SINGLE PROTEIN,9606.0
1,[],Mus musculus,Large neutral amino acids transporter small su...,20.0,False,CHEMBL4523516,"[{'accession': 'Q9Z127', 'component_descriptio...",SINGLE PROTEIN,10090.0
2,"[{'xref_id': 'O75387', 'xref_name': None, 'xre...",Homo sapiens,L-type amino acid transporter 3,19.0,False,CHEMBL4148,"[{'accession': 'O75387', 'component_descriptio...",SINGLE PROTEIN,9606.0
3,"[{'xref_id': 'Q63016', 'xref_name': None, 'xre...",Rattus norvegicus,L-type amino acid transporter 1,18.0,False,CHEMBL4149,"[{'accession': 'Q63016', 'component_descriptio...",SINGLE PROTEIN,10116.0
4,"[{'xref_id': 'Q01650', 'xref_name': None, 'xre...",Homo sapiens,L-type amino acid transporter 1,17.0,False,CHEMBL4459,"[{'accession': 'Q01650', 'component_descriptio...",SINGLE PROTEIN,9606.0
...,...,...,...,...,...,...,...,...,...
945,[],Homo sapiens,Glycerol-3-phosphate acyltransferase 4,1.0,False,CHEMBL4523372,"[{'accession': 'Q86UL3', 'component_descriptio...",SINGLE PROTEIN,9606.0
946,[],Homo sapiens,Cholecystokinin(CCK) A/B,1.0,False,CHEMBL4523965,"[{'accession': 'P32239', 'component_descriptio...",SELECTIVITY GROUP,9606.0
947,[],Homo sapiens,Cereblon/SOSS complex subunit B1,1.0,False,CHEMBL4742316,"[{'accession': 'Q96SW2', 'component_descriptio...",PROTEIN-PROTEIN INTERACTION,9606.0
948,[],Homo sapiens,80S Ribosome,0.0,False,CHEMBL3987582,"[{'accession': 'P08865', 'component_descriptio...",PROTEIN NUCLEIC-ACID COMPLEX,9606.0
949,[],Homo sapiens,UDP-glucuronosyltransferases (UGTs),0.0,False,CHEMBL4523985,"[{'accession': 'P22310', 'component_descriptio...",PROTEIN FAMILY,9606.0

In [4]:
df = df[df.tax_id.notna()]
df

,cross_references,organism,pref_name,score,species_group_flag,target_chembl_id,target_components,target_type,tax_id
0,"[{'xref_id': 'Q9UHI5', 'xref_name': None, 'xre...",Homo sapiens,L-type amino acid transporter 2,22.0,False,CHEMBL4301,"[{'accession': 'Q9UHI5', 'component_descriptio...",SINGLE PROTEIN,9606.0
1,[],Mus musculus,Large neutral amino acids transporter small su...,20.0,False,CHEMBL4523516,"[{'accession': 'Q9Z127', 'component_descriptio...",SINGLE PROTEIN,10090.0
2,"[{'xref_id': 'O75387', 'xref_name': None, 'xre...",Homo sapiens,L-type amino acid transporter 3,19.0,False,CHEMBL4148,"[{'accession': 'O75387', 'component_descriptio...",SINGLE PROTEIN,9606.0
3,"[{'xref_id': 'Q63016', 'xref_name': None, 'xre...",Rattus norvegicus,L-type amino acid transporter 1,18.0,False,CHEMBL4149,"[{'accession': 'Q63016', 'component_descriptio...",SINGLE PROTEIN,10116.0
4,"[{'xref_id': 'Q01650', 'xref_name': None, 'xre...",Homo sapiens,L-type amino acid transporter 1,17.0,False,CHEMBL4459,"[{'accession': 'Q01650', 'component_descriptio...",SINGLE PROTEIN,9606.0
...,...,...,...,...,...,...,...,...,...
945,[],Homo sapiens,Glycerol-3-phosphate acyltransferase 4,1.0,False,CHEMBL4523372,"[{'accession': 'Q86UL3', 'component_descriptio...",SINGLE PROTEIN,9606.0
946,[],Homo sapiens,Cholecystokinin(CCK) A/B,1.0,False,CHEMBL4523965,"[{'accession': 'P32239', 'component_descriptio...",SELECTIVITY GROUP,9606.0
947,[],Homo sapiens,Cereblon/SOSS complex subunit B1,1.0,False,CHEMBL4742316,"[{'accession': 'Q96SW2', 'component_descriptio...",PROTEIN-PROTEIN INTERACTION,9606.0
948,[],Homo sapiens,80S Ribosome,0.0,False,CHEMBL3987582,"[{'accession': 'P08865', 'component_descriptio...",PROTEIN NUCLEIC-ACID COMPLEX,9606.0
949,[],Homo sapiens,UDP-glucuronosyltransferases (UGTs),0.0,False,CHEMBL4523985,"[{'accession': 'P22310', 'component_descriptio...",PROTEIN FAMILY,9606.0

In [4]:
df.to_csv('../data/inhibitor_amino_acids_data.csv', index=False)
!ls -l ../data

total 9081
-rw-r--r-- 1 59631 197610   41150 Jun 29 15:51 1-s2.0-S0167732222024916-mmc1.docx
-rw-r--r-- 1 59631 197610   13602 Jul  2 18:56 amino_acids_hydrate_data.csv
-rw-r--r-- 1 59631 197610   17558 Jun 30 17:22 amino_acids_hydrate_data_update1.csv
-rw-r--r-- 1 59631 197610    3399 Jul 12 19:49 bioactivity_preprocessed_data.csv
-rw-r--r-- 1 59631 197610      78 Jul  3 21:53 house_tiny.csv
-rw-r--r-- 1 59631 197610 9186214 Jul 12 20:02 inhibitor_amino_acids_data.csv
-rw-r--r-- 1 59631 197610   20492 Jun 26 21:16 inhibitor_data.csv

In [5]:
df.score.max(),df.score.min()

(22.0, 0.0)

In [6]:
good_amino = []
for i in df.score:
    if float(i)<11:
        good_amino.append("good")
    elif float(i)>=11:
        good_amino.append("not good")

In [7]:
selection = ['target_chembl_id', 'species_group_flag',"tax_id", 'score']
df1 = df[selection]
df1

    target_chembl_id  species_group_flag   tax_id  score
0         CHEMBL4301               False   9606.0   22.0
1      CHEMBL4523516               False  10090.0   20.0
2         CHEMBL4148               False   9606.0   19.0
3         CHEMBL4149               False  10116.0   18.0
4         CHEMBL4459               False   9606.0   17.0
..               ...                 ...      ...    ...
945    CHEMBL4523372               False   9606.0    1.0
946    CHEMBL4523965               False   9606.0    1.0
947    CHEMBL4742316               False   9606.0    1.0
948    CHEMBL3987582               False   9606.0    0.0
949    CHEMBL4523985               False   9606.0    0.0

[950 rows x 4 columns]

In [8]:
df2 = pd.concat([df1,pd.Series(good_amino,name="good_amino")],axis=1)
df2.head(),df2.tail()

(  target_chembl_id  species_group_flag   tax_id  score good_amino
 0       CHEMBL4301               False   9606.0   22.0   not good
 1    CHEMBL4523516               False  10090.0   20.0   not good
 2       CHEMBL4148               False   9606.0   19.0   not good
 3       CHEMBL4149               False  10116.0   18.0   not good
 4       CHEMBL4459               False   9606.0   17.0   not good,
     target_chembl_id  species_group_flag  tax_id  score good_amino
 945    CHEMBL4523372               False  9606.0    1.0       good
 946    CHEMBL4523965               False  9606.0    1.0       good
 947    CHEMBL4742316               False  9606.0    1.0       good
 948    CHEMBL3987582               False  9606.0    0.0       good
 949    CHEMBL4523985               False  9606.0    0.0       good)

In [9]:
df2.isna().sum()

target_chembl_id      0
species_group_flag    0
tax_id                1
score                 0
good_amino            0
dtype: int64

In [10]:
df2.dropna()

    target_chembl_id  species_group_flag   tax_id  score good_amino
0         CHEMBL4301               False   9606.0   22.0   not good
1      CHEMBL4523516               False  10090.0   20.0   not good
2         CHEMBL4148               False   9606.0   19.0   not good
3         CHEMBL4149               False  10116.0   18.0   not good
4         CHEMBL4459               False   9606.0   17.0   not good
..               ...                 ...      ...    ...        ...
945    CHEMBL4523372               False   9606.0    1.0       good
946    CHEMBL4523965               False   9606.0    1.0       good
947    CHEMBL4742316               False   9606.0    1.0       good
948    CHEMBL3987582               False   9606.0    0.0       good
949    CHEMBL4523985               False   9606.0    0.0       good

[949 rows x 5 columns]

In [11]:
df2

    target_chembl_id  species_group_flag   tax_id  score good_amino
0         CHEMBL4301               False   9606.0   22.0   not good
1      CHEMBL4523516               False  10090.0   20.0   not good
2         CHEMBL4148               False   9606.0   19.0   not good
3         CHEMBL4149               False  10116.0   18.0   not good
4         CHEMBL4459               False   9606.0   17.0   not good
..               ...                 ...      ...    ...        ...
945    CHEMBL4523372               False   9606.0    1.0       good
946    CHEMBL4523965               False   9606.0    1.0       good
947    CHEMBL4742316               False   9606.0    1.0       good
948    CHEMBL3987582               False   9606.0    0.0       good
949    CHEMBL4523985               False   9606.0    0.0       good

[950 rows x 5 columns]